* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Cabin', sans-serif;
  overflow-x: hidden;
}
/*generals*/
.transparents {
  width: 100%;
  height: 75vh;
  background-color: rgba(25, 45, 53, 0.5);
  z-index: 100;
}
h2 {
  padding-bottom: 20px;
  font-size: 4rem;
  font-weight: 500;
  color: #212529;
}
h3 {
  margin-bottom: 20px;
  font-size: 3.2rem;
  font-weight: 500;
  color: #575757;
}
h4 {
  margin-bottom: 10px;
  font-size: 2rem;
  color: #575757;
}
p {
  margin-bottom: 6px;
  font-size: 1.6rem;
  color: #575757;
}
/*Header*/
header {
  width: 100%;
  height: 75vh;
  background-image: url('../images/contact-header@2x.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
header nav {
  position: fixed;
  width: 100%;
  height: 100px;
  padding-right: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 200;
}
.ingress-menu {
  position: fixed;
  width: 100%;
  height: 100px;
  padding-right: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 200;
  background-color: #fff;
  animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.exit-menu {
  background-color: transparent;
   animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
.ingress-menu-a {
  color: #000;
  z-index: 100;
  transition: 1.2s;
}
.ingress-menu-a:hover {
  color: #cdcdcd;
}
header nav ul {
  display: flex;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  margin: 0 12px;
  font-size: 1.6rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.2;
  text-decoration: none;
  transition: 300ms;
}
header nav ul li a:hover {
  color: #fff;
}
header nav ul li .calendary {
  font-size: 20px;
}
header .container-title {
  width: 100%;
  height: 100%;
  padding: 240px 0 190px 360px;
  display: flex;
  flex-direction: column;
}
header .container-title h1 {
  margin-bottom: 20px;
  font-size: 5rem;
  font-weight: 500;
  color: #fff;
  
}
header .container-title p {
  margin-bottom: 10px;
  font-size: 1.8rem;
  font-weight: 400;
  color: #fff;
}
/*main*/
main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*form*/
main .container-form {
  width: 100%;
  height: auto;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .container-form .content-form {
  width: 54%;
  height: auto;
}
main .container-form .title-form {
  width: 100%;
  margin-bottom: 80px;
  padding-left: 340px;
}
main .container-form .content-form form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .container-form .content-form form .container-name-email-form {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .container-form .content-form form .container-name-email-form .name-form,
main .container-form .content-form form .container-name-email-form .email-form {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
main .container-form .content-form form .container-name-email-form .name-form h3,
main .container-form .content-form form .container-name-email-form .email-form h3,
main .container-form .content-form form .message-form h3 {
  margin-bottom: 12px;
  font-size: 1.6rem;
  font-weight: 500;
  color: #222220;
}
main .container-form .content-form form .container-name-email-form .name-form input,
main .container-form .content-form form .container-name-email-form .email-form input,
main .container-form .content-form form .message-form input {
  margin-bottom: 20px;
  padding: 10px 0 10px 10px;
  font-size: 1.4rem;
  font-family: 'Cabin', sans-serif;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
}
main .container-form .content-form form .message-form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
main .container-form .content-form form .message-form input {
  margin-bottom: 30px;
  padding: 10px 0 50px 10px;
}
main .container-form .content-form form button {
  padding: 15px 40px;
  background-color: #222220;
  font-size: 1.6rem;
  font-family: 'Cabin', sans-serif;
  color: #fff;
  border: none;
  border-radius: 10px;
  transition: 300ms;
}
main .container-form .content-form form button:hover {
  background-color: #cdcdcd;
}
/*info*/
main .container-info {
width: 54%;
margin: 50px 0 100px 0;
height: auto;
display: flex;
justify-content: space-between;
}
main .container-info article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*footer*/
footer {
  width: 100%;
  height: auto;
  margin-top: 100px;
}
footer .container-footer {
  display: flex;
  justify-content: center;
}
footer .container-footer .footer-content {
  width: 80%;
  padding-bottom: 70px;
  display: flex;
  border-bottom: 1px solid #cdcdcd;
  gap: 150px;
}
footer .container-footer .content-text {
  width: 400px;
}
footer .container-footer .content-text p {
  font-size: 1.4rem;
  color: #222222;
}
footer .container-footer .content-sections-contact {
  display: flex;
  gap: 200px;
}
footer .container-footer .content-sections-contact .content-sections a{
  padding-bottom: 15px;
  font-size: 1.4rem;
  font-weight: 400;
  color: #222222;
  text-decoration: none;
}
footer .container-footer .content-sections-contact h4 {
  font-size: 1.6rem;
  font-weight: 600;
}
footer .container-footer .content-sections-contact .content-sections,
footer .container-footer .content-sections-contact .content-contact {
  display: flex;
  flex-direction: column;
}
footer .container-footer .content-sections-contact .content-contact h6 {
  padding-bottom: 5px;
  font-size: 1.4rem;
  font-weight: 400;
}
footer .container-footer .content-sections-contact .content-contact .container-social-networks {
  margin-top: 20px;
}
footer .container-footer .content-sections-contact .content-contact .container-social-networks a {
  margin-right: 12px;
  font-size: 1.6rem;
  color: #212529;
  transition: 300ms;
}
footer .container-footer .content-sections-contact .content-contact .container-social-networks a:hover {
  color: #cdcdcd;
}
footer .container-privacy {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .container-privacy .content-privacy {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
footer .container-privacy .content-privacy a {
  font-size: 1.4rem;
  color: #222222;
  text-decoration: none;
}
footer .container-privacy .content-privacy div a {
  padding-right: 20px;
}