* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Cabin', sans-serif;
  overflow-x: hidden;
}
/*card.calendary*/
.card-calendary {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.card-calendary .container-calendary {
  position: relative;
  width: 600px;
  height: 400px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
}
.card-calendary .container-calendary .icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: #f3f3f3;
  cursor: pointer;
  border-radius: 50%;
  z-index: 99;
}
.card-calendary .container-calendary .icon .fa-xmark {
  position: absolute;
  top: 6px;
  right: 9px;
  font-size: 17px;
  color: #333;
  cursor: pointer;
  z-index: 100;
}
.card-calendary .container-calendary figure,
.card-calendary .container-calendary .content-text-calendary {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-calendary .container-calendary figure::before {
  content: "";
  position: absolute;
  width: 250px;
  height: 250px;
  background: #e7ffe0;
  border-radius: 100%;
}
.card-calendary .container-calendary figure img {
  width: 250px;
  z-index: 10;
}
.card-calendary .container-calendary .content-text-calendary {
  padding: 5px;
  flex-direction: column;
  align-items: start;
}
.card-calendary .container-calendary .content-text-calendary h3 {
  font-size: 4.7rem;
  font-weight: 300;
  line-height: 1em;
  color: #333;
}
.card-calendary .container-calendary .content-text-calendary a {
  padding: 10px 20px;
  margin-top: 15px;
  background-color: #ff4d54;
  color: #fff;
  font-size: 2.3rem;
  text-decoration: none;
  border-radius: 10px;
}
/*generals*/
.transparents {
  width: 100%;
  height: 102vh;
  background-color: rgba(25, 45, 53, 0.5);
  z-index: 100;
}
h2 {
  padding-bottom: 20px;
  font-size: 4rem;
  font-weight: 500;
  color: #212529;
}
h3 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.29;
  color: #212529;
}
h4 {
  padding-bottom: 25px;
  font-size: 1.8rem;
  font-weight: 400;
  color: #212529;
}
p {
  padding: 0 0 20px 0;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6;
  color: #222220;
}
li {
  padding: 0.5rem 0 0 1.875rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #222222;
  line-height: 1.6;
}
/*Header*/
header {
  width: 100%;
  height: 102vh;
  background-image: url('../images/about-header.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
header .wavy-background {
  content: "";
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: -14px;
  background-color: #fff;
  -webkit-mask-image: url(../images/descarga.svg);
}
header nav {
  position: fixed;
  width: 100%;
  height: 100px;
  padding-right: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 200;
}
.ingress-menu {
  position: fixed;
  width: 100%;
  height: 100px;
  padding-right: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 200;
  background-color: #fff;
  animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.exit-menu {
   animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
.scroll-menu-a {
  color: #000;
  z-index: 100;
  transition: 1.2s;
}
header nav ul {
  display: flex;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  margin: 0 12px;
  font-size: 1.6rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.2;
  text-decoration: none;
}
header nav ul li .calendary {
  font-size: 20px;
}
header .container-title {
  width: 100%;
  height: 100%;
  padding: 240px 0 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .container-title h1 {
  width: 50%;
  font-size: 7rem;
  color: #fff;
  text-align: center;
}
header .container-title p {
  margin-top: 20px;
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
}
/*main*/
/*what we do*/
main .container-what-we-do {
  width: 100%;
  height: auto;
  padding: 100px 0;
}
main .container-what-we-do .title-what-we-do {
  max-width: 60%;
  margin: 0 auto;
  padding-top: 50px;
}
main .container-what-we-do .container-cars-what-we-do {
  padding-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main .container-what-we-do .container-cars-what-we-do .cars-what-we-do  {
  padding: 0 28px;
  width: 260px;
}
/* main .container-what-we-do .container-cars-what-we-do .cars-what-we-do ul li {
  list-style: none;
} */
/* main .container-what-we-do .container-cars-what-we-do .cars-what-we-do ul li::before {
  padding-right: 20px;
  content: '✓';
  color: #222220;
} */
/*why choose us*/
main .container-why-choose-us {
  width: 100%;
  height: auto;
  padding: 100px 0;
  background-color: #f8f8f8;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}
main .container-why-choose-us figure {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
main .container-why-choose-us .content-img {
  width: 500px;
  height: 500px;
  background-image: url('../images/post-4.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}
main .container-why-choose-us .content-why-choose-us {
 /*  padding-left: 100px; */
 max-width: 500px;
}
main .container-why-choose-us .content-why-choose-us article ul {
  margin: 10px 0px 20px 40px;
}
/*who-we-are*/
main .container-who-we-are {
  width: 100%;
  height: auto;
  padding: 100px 0;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}
main .container-who-we-are .content-who-we-are-1,
main .container-who-we-are .content-who-we-are-2 {
  width: 500px;
}
main .container-who-we-are .content-who-we-are-2 .text-1 {
  font-size: 2rem;
}
main .container-who-we-are .content-who-we-are-2 .text-2 {
  font-size: 1.6rem;
}
main .container-who-we-are .content-who-we-are-2 ul {
  margin-left: 20px;
}
/*personal-attention*/
main .container-personal-attention {
  width: 100%;
  height: auto;
  background-color: #f4f0eb;
  display: flex;
  justify-content: center;
}
main .container-personal-attention .content-img {
  position: relative;
  right: 60px;
  background-image: url('../images/about-corporate-1@2x.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 650px;
  height: 720px;
}
main .container-personal-attention .content-article {
  width: 490px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*our-services*/
main .container-our-services {
  width: 100%;
  height: auto;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .container-our-services .title-our-services {
  width: 100%;
  position: relative;
  left: 370px;
}
main .container-our-services .content-card-our-services {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .container-our-services .content-card-our-services article {
  width: 75%;
  margin-bottom: 30px;
  padding: 25px 25px 5px 25px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #cdcdcd;
}
main .container-our-services .content-card-our-services article p {
  font-size: 1.6rem;
}
main .container-our-services .content-card-our-services article .fa-solid {
  font-size: 17px;
  color: #222220;
}
/*container-contact*/
main .container-contact {
  width: 100%;
  height: auto;
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .container-contact .content-contact {
  width: 80%;
  height: auto;
  padding: 50px;
  background-color: #222220;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
main .container-contact .content-contact h2 {
  color: #fff;
}
main .container-contact .content-contact p {
  font-size: 1.6rem;
  color: #fff;
}
main .container-contact .content-contact button {
  margin-top: 20px;
  padding: 15px 50px;
  background-color: transparent;
  color: #fff;
  font-size: 1.6rem;
  font-family: 'Cabin', sans-serif;
  border: 2px solid #fff;
  border-radius: 10px;
  transition: 300ms;
}
main .container-contact .content-contact button:hover {
  background-color: #fff;
  color: #222220;
}
/*footer*/
footer {
  width: 100%;
  height: auto;
}
footer .container-footer {
  display: flex;
  justify-content: center;
}
footer .container-footer .footer-content {
  width: 80%;
  padding-bottom: 70px;
  display: flex;
  border-bottom: 1px solid #cdcdcd;
  gap: 150px;
}
footer .container-footer .content-text {
  width: 400px;
}
footer .container-footer .content-text p {
  font-size: 1.4rem;
  color: #222222;
}
footer .container-footer .content-sections-contact {
  display: flex;
  gap: 200px;
}
footer .container-footer .content-sections-contact .content-sections a{
  padding-bottom: 15px;
  font-size: 1.4rem;
  font-weight: 400;
  color: #222222;
  text-decoration: none;
}
footer .container-footer .content-sections-contact h4 {
  font-size: 1.6rem;
  font-weight: 600;
}
footer .container-footer .content-sections-contact .content-sections,
footer .container-footer .content-sections-contact .content-contact {
  display: flex;
  flex-direction: column;
}
footer .container-footer .content-sections-contact .content-contact h6 {
  padding-bottom: 5px;
  font-size: 1.4rem;
  font-weight: 400;
}
footer .container-footer .content-sections-contact .content-contact .container-social-networks {
  margin-top: 20px;
}
footer .container-footer .content-sections-contact .content-contact .container-social-networks a {
  margin-right: 12px;
  font-size: 1.6rem;
  color: #212529;
  transition: 300ms;
}
footer .container-footer .content-sections-contact .content-contact .container-social-networks a:hover {
  color: #cdcdcd;
}
footer .container-privacy {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .container-privacy .content-privacy {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
footer .container-privacy .content-privacy a {
  font-size: 1.4rem;
  color: #222222;
  text-decoration: none;
}
footer .container-privacy .content-privacy div a {
  padding-right: 20px;
}